:root {
  --primary-color: #217ce5;
  --second-color: #5390ec;
  --azul-fundo: #100f2a;
  --black-color-medium: #0c0c0c;
  --semi-azul: #20204d;
  --white-color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}
.container-fluid {
  width: 100%;
  padding: 0rem 1.8rem;
}

h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: var(--white-color);
  margin-top: 2rem;
}

h2 span {
  color: var(--primary-color);
}
.btn-primary {
  border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--azul-fundo);
  background-color: var(--primary-color);
  padding: 1rem 1.6rem;
}

.btn-primary.transparent {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;

}

.menu-item {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 700;
}